/*Modifies the contents of a button*/
.button {
  -fx-background-color: #1F2833;
  -fx-text-fill: #C5C6C7;
  -fx-font-weight: bold;
  -fx-border-color: #66FCF1;
}

/*Modifies the buttons when hovered*/
.button:hover {
  -fx-background-color: #0B0C10;
  -fx-text-fill: white;
}

/*Modifies the buttons when clicked*/
.button:focused {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;

}

/*Modifies the contents within a label*/
.label {
  -fx-font-weight: bold;
  -fx-text-fill: #66FCF1;
}

/*Modifies the contents within a label when hovered*/
.label:hover {
  -fx-background-color: #0B0C10;
  -fx-text-fill: white;
}

/*Modifies the background of the tab, and the background  of the scene that the tab is in*/
.tab {
  -fx-background-color: #1F2833;
}

/*Modifies the tab/scene of tab when hovered*/
.tab:hover {
  -fx-background-color: #0B0C10;
}

/*Modifies the text in a tab label*/
.tab-label {
  -fx-text-fill: #66FCF1;
  -fx-font-weight: bold;
}

/*Modifies the contents of the tab text when hovered*/
.tab-label:hover {
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

/*Modifies the contents of the tab header area and background*/
.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

/*Modifies the content in a choice box*/
.choice-box .label {
  -fx-text-fill: black;
}

/*Modifies the content in a choice box when hovered*/
.choice-box .label:hover {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;
  -fx-border-color: white;
}

/*Modifies the columns in the Table View*/
.table-view .label {
  -fx-text-alignment: center;
  -fx-background-color: #1F2833;
  -fx-text-fill: white;
}

/*Modifies the Table View columns when hovered*/
.table-view .label:hover {
  -fx-background-color: #0B0C10;
  -fx-text-fill: white;
}

/*Modifies the tableView background*/
.tableView {
  -fx-background-color: #0B0C10;
  -fx-border-color: #66FCF1;
}

/*Modifies the Table View background when hovered*/
.tableView:hover {
  -fx-background-color: #1F2833;
}

/*Modifies the Product Name Column in the Table*/
#productNameColumn {
  -fx-background-color: #1F2833;
  -fx-border-color: #45A29E;
}

/*Modifies the Manufacturer Column in the Table*/
#manufacturerColumn {
  -fx-background-color: #1F2833;
  -fx-border-color: #45A29E;
}

/*Modifies the Item Type Column in the Table*/
#itemTypeColumn {
  -fx-background-color: #1F2833;
  -fx-border-color: #45A29E;
}
