/**
 * Represents the author of the program.
 *
 * @author Ramzy El-Taher
 *     <p>The program is a software made in JavaFX where it tracks the number and types of products
 *     being made. This file is the CSS, where the look of the GUI is changed.
 *     <p>Date: 09/26/19
 */

/******************** BUTTONS ********************/

/*Modifies the contents of a button*/
.button {
  -fx-background-color: linear-gradient(white, #61a2b1);
  -fx-text-fill: black;
  -fx-font-weight: bold;
  -fx-border-color: #66FCF1;
}

/*Modifies the buttons when hovered*/
.button:hover {
  -fx-background-color: #0B0C10;
  -fx-text-fill: white;
}

/*Modifies the buttons when clicked*/
.button:focused {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;

}

/******************** LABELS ********************/

/*Modifies the contents within a label*/
.label {
  -fx-font-weight: bold;
  -fx-text-fill: #66FCF1;
}

/*Modifies the contents within a label when hovered*/
.label:hover {
  -fx-background-color: #0B0C10;
  -fx-text-fill: white;
}

/******************** TABS ********************/

/*Modifies the background of the tab, and the background  of the scene that the tab is in*/
.tab {
  -fx-background-color: #1F2833;
  -fx-font-weight: bold;
  -fx-border-color: #66FCF1;
  -fx-focus-color: transparent;
}

/*Modifies each tab when hovered*/
.product-tab:hover {
  -fx-background-color: #0B0C10;
}

/*Modifies each tab when selected*/
.product-tab:selected {
  -fx-background-color: linear-gradient(white, #61a2b1);
}

/*Modifies the text of the tab when selected*/
.product-tab:selected .tab-label {
  -fx-text-fill: #1F2833;
}

/*Modifies the text in a tab label*/
.tab-label {
  -fx-text-fill: #66FCF1;
  -fx-font-weight: bold;
}

/*Modifies the contents of the tab text when hovered*/
.tab-label:hover {
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

/*Modifies the contents of the tab header area and background*/
.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

/******************** CHOICE BOX ********************/

/*Modifies the Choice Box item cells*/
.choice-box {
  -fx-border-color: #66FCF1;
}

/*Modifies the content in a choice box*/
.choice-box .label {
  -fx-text-fill: black;
}

/*Modifies the content in a choice box when hovered*/
.choice-box .label:hover {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;
  -fx-border-color: white;
}

/*Modifies the context menu in the Choice Box*/
.choice-box .context-menu {
  -fx-background-color: #1F2833;
}

/*Modifies the menu items in the choice box*/
.choice-box .menu-item {
  -fx-border-color: #66FCF1;
}

/*Modifies the menu items in the combo box when focused*/
.choice-box .menu-item:focused {
  -fx-border-color: #66FCF1;
  -fx-background-color: white;
  -fx-text-fill: black;
}

/*Modifies the labels in the choice box menu items*/
.choice-box .menu-item .label {
  -fx-text-fill: white;
}

/*Modifies the labels in the choice box menu items when focused*/
.choice-box .menu-item:focused .label {
  -fx-text-fill: black;
}

/******************** TABLE VIEW ********************/

/*Modifies the columns in the Table View*/
.table-view .label {
  -fx-text-alignment: center;
  -fx-background-color: #1F2833;
  -fx-text-fill: #66FCF1;
}

/*Modifies the Table View columns when hovered*/
.table-view .label:hover {
  -fx-background-color: #0B0C10;
  -fx-text-fill: white;
}

/*Modifies the tableView background*/
.tableView {
  -fx-background-color: #0B0C10;
  -fx-border-color: #66FCF1;
}

/******************** LIST VIEW ********************/

/*Modifies the List View item selection background*/
.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
  -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
  -fx-text-fill: white;
  -fx-border-color: #66FCF1;
}

/*Modifies the List View items when hovered*/
.list-view .list-cell:filled:hover {
  -fx-background-color: white;
  -fx-text-fill: -fx-text-inner-color;
}

/*Modifies the even list-view cells*/
.list-view .list-cell:even {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;
  -fx-border-color: #66FCF1;
}

/*Modifies the ListView even cells when hovered*/
.list-view .list-cell:even:filled:hover {
  -fx-background-color: white;
  -fx-text-fill: -fx-text-inner-color;
}

/*Modifies the odd list-view cells in the Produce tab.*/
.list-view .list-cell:odd {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;
  -fx-border-color: #66FCF1;
}

/**/
.list-view .list-cell:odd:filled:hover {
  -fx-background-color: white;
  -fx-text-fill: -fx-text-inner-color;
}

/******************** COMBO BOX ********************/


/*Modifies the combo box pop-up list when hovered*/
.combo-box-popup .list-view .list-cell:filled:hover {
  -fx-background-color: white;
  -fx-text-fill: -fx-text-inner-color;
}

/*Modifies the text field of the combo box when hovered*/
.combo-box .text-field:hover {
  -fx-background-color: #1F2833;
  -fx-text-fill: white;
  -fx-border-color: #66FCF1;
}

/******************** TEXT AREA ********************/

.text-area {
  text-area-background: #1F2833;
  -fx-text-fill: white;
  -fx-border-color: #45A29E;
}

.text-area .content {
  -fx-background-color: #1F2833;

}

/******************** TABLE VIEW COLUMNS ********************/

/*Modifies the Product Name Column in the Table*/
#productNameColumn {
  -fx-background-color: #1F2833;
  -fx-border-color: #45A29E;
  -fx-text-fill: white;
  -fx-alignment: center;
}

/*Modifies the Manufacturer Column in the Table*/
#manufacturerColumn {
  -fx-background-color: #1F2833;
  -fx-border-color: #45A29E;
  -fx-text-fill: white;
  -fx-alignment: center;
}

/*Modifies the Item Type Column in the Table*/
#itemTypeColumn {
  -fx-background-color: #1F2833;
  -fx-border-color: #45A29E;
  -fx-text-fill: white;
  -fx-alignment: center;
}

#anchorPaneLogin {
  -fx-background-color: #1F2833;
}
